/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.env
composer.json
composer.lock
./composer.lock
./composer.json
./village_diet-main
./village_diet-main.zip
./Village.postman_collection.json
./thevillagediet_village_diet.sql
